/* Add a black background color to the top navigation */
.topnav {
    background-color: grey;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: burlywood;
    
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(241, 102, 9);
    color: white;
}